NETWORK_CLAVARDAGE_PORT = 1921
NETWORK_FILE_TRANSFERT_PORT = 1922
CCP_LISTENER_POOL_SIZE = 5
MSG_LISTENER_POOL_SIZE = 5
MULTICAST = true
MULTICAST_GROUP = 224.0.0.121

# /!\ Warning, for Windows paths you need to escape colons, e.g. C\:/Path/To/Prefered/Directory/
# Must end with a slash
FILE_DIRECTORY =

DB_ADDR =
DB_PORT =
DB_DATABASE =
DB_LOGIN =
DB_PASSWORD =

# Servlet address: @IP:Port (BackSlash needed to escape the colon)
SERVLET_ADDR =
